
/*--==Font Control--==*/
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Inter:wght@100;300;600&display=swap" rel="stylesheet">

:root{
     --sm-font:'Inter', sans-serif;
     --lg-font: 'Cinzel Decorative', cursive;
     --md-font: 'Inter', sans-serif;
}

/*--===Home Page Style==--*/
body{
    font-family: var(--sm-font);
}

/* Button */
.bg-primary{
    background-color: red!important; 
}

.btn:not(.nav-btns button){
    background-color: white;
    color: black;
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85)
}

.btn:not(.nav-btns button):hover{
    background-color: black;
    color:white;
    border-color: var(white)
}

.btn:not()

/* Navbar */
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0,  0, 0, .1);
}

.navbar{
    
}
/*--==Header==--*/
#header{
    background: url(/images/DreamOfBeatingMe.jpg) top/cover no-repeat;
}

.carousel-inner h1{
    font-size: 70px;
    font-family: var(--lg-font)
}

/*--==Curated Products Line--==*/


/*--==All Product Page Style==--*/


/*--==Gloves Page Style==--*/


/*--==Wraps Page Style==--*/


/*--==Shin Guards Page Style==--*/


/*--==Shoes Page Style==--*/


/*--==Tutorials Page Style==--*/


/*--==User Registration Page Style==--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

/*--==Product Images==--*/

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url(/images/Everlast-Black-Glove.jpg) no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url(/images/buakaw-boxing-gloves.webp) no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url(/images/Hayabusa-T3-Pearl.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url(/images/Grant_B&W.jpg) no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}


/*--==User Login Page Style==--*/
.bgL{
   background: url(/images/creed-ii-walkout.webp) top/cover no-repeat; width:100%; height:100vh
}
.Form-ContainerL{
    border:1px solid white; padding: 50px 40px; margin-top: 20vh;
    -webkit-box-shadow: 7px 24px 18px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 24px 18px -4px rgba(0,0,0,0.75);
box-shadow: 7px 24px 18px -4px rgba(0,0,0,0.75)
    
}


/*--==Checkout Page Style==--*/
